body {
  
  background: rgba(0, 0, 0, 0.9);
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after {
  height: 100vh;
  content: " ";
  width: 100%;
  background-image: url("mac.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  transition: all 1000ms;
}

.showcase:hover::after {
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.content {
  position: absolute;
  z-index: 1; /*brings stuff in front if its value is greater use in posistion*/
  top: 10%;
  left: 50%;
  margin-top: 105px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms; /* */
}
.content:hover {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.logo {
  height: 180px;
  width: 180px;
}
.title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.center {
  text-align: center;
  margin: auto;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

/*small screen*/
@media (max-width: 560px) {
  .showcase::after {
    height: 50vh;
  }

  .content{
      top: 5%;
      margin-top: 5px;
      
  }
  .logo{
      height: 140px;
      width: 140px;

  }
  .text{
      display: none;
  }
 
}

/*lanscape*/
@media(max-height:500px){
    .content.title,
    .content.text{
        display: none;
    }
    .content{
        top: 0;
    }
}